@media (min-width: 320px) and (max-width: 667px) {
    .languageCourse_hero {
        background-image: url("../../images/hero_section/languageCoursePhone.jpg");
    }

    /* ========================= why-language-required ========================= */
    .why-language-required {
        margin: 0;
    }

    /* ========================= language-required__container ========================= */
    .language-required__container {
        margin: 0 auto;
        padding: 20px;
    }

    /* ========================= language-required__title ========================= */
    .language-required__title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* ========================= language-required__reasons ========================= */
    .language-required__reasons {
        grid-template-columns: 1fr;
    }

    /* ========================= language-required__reason-title ========================= */
    .language-required__reason-title {
        margin-bottom: 2.5rem;
    }

    /* ========================= language-required__reason-description ========================= */
    .language-required__reason-description {
        font-size: 2rem;
    }

    /* ========================= language-required__part-time-job ========================= */
    .language-required__part-time-job {
        flex-direction: column;
    }

    /* ========================= Course Details Button ========================= */
    .course-details-heading button {
        margin-top: 30px;
        margin-bottom: -70px;
    }

}

@media (min-width: 667px) and (max-width: 1024px) {
    .languageCourse_hero {
        background-image: url("../../images/hero_section/tabletBG6.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        background-size: cover;
        background-position: center;
    }
}