/* ========================= MAT HERO SECTION ========================= */
.mat-hero {
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../images/hero_section/bg20.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
}

.mat-hero-welcomeContent,
.bottom-border,
.mat-hero-middle-link-row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
}

.mat-hero-welcomeContent {
    grid-row: 2;
}

.bottom-border {
    grid-row: 3;
}

.mat-hero-middle-link-row {
    grid-row: 4;
}

/* ========================= MAT News Line Section ========================= */
.mat-news-line {
    grid-row: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #c7edff;
    z-index: 10;
    /* width: 1350px; */
    min-width: 100%;
}

/* ========================= WELCOME CONTENT ========================= */
.mat-hero-welcomeContent {
    flex-direction: column;
    padding: 0;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
    will-change: transform;
    animation:
        mat-hero-welcomeContent-gm-slidein 3s 1 ease-out,
        mat-hero-welcomeContent-shine-border 5s infinite linear;
    padding-bottom: 10px;
}

.bottom-border {
    width: 27%;
    border: 3px solid red;
    margin-top: -220px;
    margin-bottom: 0px;
    padding-top: 0;
    border-image-slice: 1;
    border-image-source: linear-gradient(100deg, transparent, red, transparent);
    animation:
        mat-hero-welcomeContent-gm-slidein 3s 1 ease-out,
        mat-hero-welcomeContent-shine-border 5s infinite linear;
}

@keyframes mat-hero-welcomeContent-gm-slidein {
    from {
        transform: translate3d(-100vw, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes mat-hero-welcomeContent-shine-border {
    0% {
        border-image-source: linear-gradient(100deg, transparent, red, transparent);
        border-image-slice: 1;
    }

    50% {
        border-image-source: linear-gradient(100deg, transparent, #ffffff, red, #ffffff, transparent);
    }

    100% {
        border-image-source: linear-gradient(100deg, transparent, red, transparent);
    }
}

.mat-hero-welcomeContent h1 {
    margin: 0 0 .5em;
    font-size: 5rem;
    word-spacing: 15px;
}

.mat-hero-welcomeContent-title {
    color: red !important;
    font-size: 5rem;
    font-weight: bolder;
}

.mat-hero-welcomeContent-description {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bolder;
    background: linear-gradient(to right, #FF0000 20%, #FFF 40%, #FFF 60%, #FF0000 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: welcomeContent-description-shine 5s linear infinite;
    padding-bottom: 0;
}

@keyframes welcomeContent-description-shine {
    to {
        background-position: 200% center;
    }
}

.bd {
    color: #ff0000;
}

.mat-hero-welcomeContent h1 a {
    color: #FFF;
    text-decoration: none;
}

.mat-hero-welcomeContent p {
    padding-bottom: 0;
    word-spacing: 10px;
}

/* ========================= HERO SECTION Middle Link ROW ========================= */
.mat-hero-middle-link-row {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    animation: mat-hero-middle-link-row-gm-slide-right-to-left 3s 1;
    margin-bottom: 0px;
    margin-top: -250px;
}

@keyframes mat-hero-middle-link-row-gm-slide-right-to-left {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.mat-hero-middle-link-block {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.mat-hero-middle-link-block-hovicon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    text-decoration: none;
    color: #fff;
}

.mat-hero-middle-link-block-hovicon a {
    text-decoration: none;
}

.mat-hero-middle-link-block-hovicon i,
.mat-hero-middle-link-block-hovicon span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FF0000;
    animation: link-block-hovicon-pulse 2s infinite ease-in-out alternate;
}

@keyframes link-block-hovicon-pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}

.mat-hero-middle-link-block-hovicon span {
    font-size: 20px;
    font-weight: bold;
}

.mat-hero-middle-link-block-hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #FF0000;
    transform: scale(.8);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
}

/* ========================= LINK HOVER EFFECT ========================= */
.mat-hero-middle-link-block-hovicon.mat-hero-middle-link-block-effect-1.mat-hero-middle-link-block-sub-a:hover {
    background: #ff0000;
}

.mat-hero-middle-link-block-hovicon.mat-hero-middle-link-block-effect-1.mat-hero-middle-link-block-sub-a:hover i,
.mat-hero-middle-link-block-hovicon.mat-hero-middle-link-block-effect-1.mat-hero-middle-link-block-sub-a:hover span {
    color: #FFFFFF;
}

.mat-hero-middle-link-block-hovicon.mat-hero-middle-link-block-effect-1.mat-hero-middle-link-block-sub-a:hover:after {
    transform: scale(1);
    opacity: 1;
}




/* ========================= MAT News Line Section ========================= */
.mat-news-button {
    background-color: #FF0000;
    color: white;
    padding: 1.5rem;
    border: none;
    font-size: 2rem;
    white-space: nowrap;
    margin: 0;
    font-weight: bold;
    margin-left: 100px;
}

.mat-news-scroll-item {
    font-size: 2rem;
}

.news-feed {
    background-color: #FF0000;
    color: white;
    padding: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    height: 500px;
}

.news-label {
    margin-left: 10px;
    margin-right: 2px;
    color: #FF0000;
    font-weight: bold;
}

.newsFeed_scroller {
    overflow: hidden;
    flex-grow: 1;
}

.newsFeed_scroller__inner {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: newsFeed-scroll 70s linear infinite;
}

@keyframes newsFeed-scroll {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}

.mat-news-line-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.mat-news-line-list li {
    padding: 1.45rem;
}