.heropanel--image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('../images/hero_section/bg20.jpg');
}

.heropanel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.heropanel__content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 4em 0 2em;
    max-width: 100%;
    margin: 0 auto;
    animation: gm-slidein 3s 1;
    border-bottom: 3px solid red;
    overflow: hidden;
    will-change: transform;
}

.hero-title {
    color: red !important;
    font-size: 5rem;
    font-weight: bolder;
}

.hero-dis {
    font-size: 2rem !important;
    font-weight: bolder !important;
}

.heropanel__content h1 {
    margin: 0 0 .5em;
    font-size: 5rem;
}

.bd {
    color: #ff0000;
}

.heropanel__content h1 a {
    color: #FFF;
    text-decoration: none;
}

.heropanel__content p {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Animation */
@keyframes gm-slidein {
    from {
        transform: translate3d(-100vw, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

/* Responsive Design */
@media (min-width: 320px) and (max-width: 480px) {

    .heropanel--image {
        background-image: url('../images/hero_section/heroPhone3.jpg');
    }

    .heropanel--image {
        height: 100vh;
    }

    .heropanel__content {
        max-width: 90%;
        padding: 2em 0;
    }

    .heropanel__content h1 {
        font-size: 2rem;
    }

    .heropanel__content p {
        font-size: 1.2rem;
    }

    .image-overlay {
        background: rgba(0, 0, 0, 0.4);
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .heropanel__content {
        max-width: 70%;
        padding: 3em 0;
    }

    .heropanel__content h1 {
        font-size: 5rem;
        word-spacing: 10px;
    }

    .hero-title {
        font-size: 8rem;
    }

    .heropanel__content p {
        font-size: 3rem;
    }

    .heropanel--image {
        background-image: url('../images/hero_section/tabletBG6.jpg');
    }

    .image-overlay {
        background: rgba(0, 0, 0, 0.4);
    }
}