html {
    font-size: 8px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Georgia, serif;
    font-size: 2rem;
}