.languageCourse_hero {
    background-image: url("../images/hero_section/languageRequired.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.languageCourse_hero-title {
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: 3px solid #FF0000;
    border-radius: 5px;
}

/* ========================= why-language-required ========================= */
.why-language-required {
    font-size: 20px;
    margin: 50px;
}

/* ========================= language-required__container ========================= */
.language-required__container {
    margin: 0 auto;
    padding: 20px;
}

/* ========================= language-required__title ========================= */
.language-required__title {
    font-family: "Great Vibes";
    font-size: 5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}

/* ========================= language-required__highlight ========================= */
.language-required__highlight {
    font-weight: bold;
}

/* ========================= language-required__reasons ========================= */
.language-required__reasons {
    font-family: Georgia, serif;
    font-size: 2.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    text-align: justify;
}

/* ========================= language-required__reason ========================= */
.language-required__reason {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
}

/* ========================= language-required__reason-title ========================= */
.language-required__reason-title {
    color: #FF0000;
    margin: 0;
}

/* ========================= language-required__reason-description ========================= */
.language-required__reason-description {
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: 30px;
}

/* ========================= language-required__part-time-job ========================= */
.language-required__part-time-job {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* ========================= language-required__part-time-job-column ========================= */
.language-required__part-time-job-column {
    flex: 1;
}

/* ========================= language-required__part-time-job-column--first ========================= */
.language-required__part-time-job-column--first {
    flex: 1;
}

/* ========================= language-required__part-time-job-description ========================= */
.language-required__part-time-job-description {
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: 30px;
}

/* ========================= language-required__part-time-job-advantage ========================= */
.language-required__part-time-job-advantage {
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: 30px;
}

/* ========================= language-required__highlight--on ========================= */
.language-required__highlight--on {
    color: #FF0000;
    font-weight: bold;
}

/* ========================= Course Details Button ========================= */
.course-details-heading {
    font-family: "Great Vibes";
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.course-details-heading button {
    font-family: Georgia, serif;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
}

.course-details-heading button:hover {
    color: #000000;
}

.course-details-btn-link:hover {
    cursor: pointer;
}