.mat-news-header {
    margin-top: 7.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #c7edff;
}

.mat-news-button {
    background-color: #FF0000;
    color: white;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    white-space: nowrap;
    margin: 0;
    font-weight: bold;
}

.mat-news-scroll-item {
    font-size: 2rem;
}

.news-feed {
    background-color: #FF0000;
    color: white;
    padding: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    height: 500px;
}

.news-label {
    margin-left: 10px;
    margin-right: 2px;
    color: #FF0000;
    font-weight: bold;
}

.newsFeed_scroller {
    overflow: hidden;
    flex-grow: 1;
}

.newsFeed_scroller__inner {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll 70s linear infinite;
}

.tag-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.tag-list li {
    padding: 1.45rem;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}