* {
    margin: 0;
}

.mat-news-header {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0;
    background-color: #E1EDFF;
}

.mat-news-button {
    background-color: #FF0000;
    color: white;
    padding: 15px 20px 10px 20px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    margin: 0;
    margin-top: -4px;
}

.scroller {
    overflow: hidden;
    flex-grow: 1;
    /* Allow the scroller to take the remaining space */
}

.scroller__inner {
    display: flex;
    /* gap: 1rem; */
    padding: 1rem 0;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.tag-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* gap: 1rem; */
}

.tag-list li {
    padding: 1rem;
    /* background: var(--clr-primary-900); */
    /* border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem black; */
    /* border: 1px solid green; */
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}